astroquery @ git+https://github.com/astropy/astroquery.git
astropy >= 7.2.0
numpy >= 2.3.2
mast_aladin @ git+https://github.com/spacetelescope/mast-aladin.git
sidecar >= 0.8.1
matplotlib >= 3.10.5
pyvo >= 1.7