Pillow 
astropy
astroquery
bokeh
fastkde
git+https://github.com/spacetelescope/astrocut.git#egg
healpy 
ipython 
ipywidgets 
k2flix 
lightkurve 
mastcasjobs 
matplotlib
numpy
packaging 
pandas 
pyvo 
reproject 
requests 
scipy 
setuptools 
specutils 
