# This is a basic workflow that is manually triggered

name: Accessible Notebook Deploy


env:
  filename: 

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:
    # Inputs the workflow accepts.
    inputs:
      # the notebook file name; no directories necessary, as this is handled below
      filename:
        description: "Notebook file name:"
        required: true
        default: mis_mosaic.ipynb
    

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  deploy-accessible-book:
    runs-on: ubuntu-latest
    steps:
    
    # step 0: using the notebook name, find the directory
    - name: get notebook directory
      run: |
        # echo ${{ inputs.filename }}
        # find the location of the notebook, THEN do a regular expression to get everything before the final "/"
        echo "notebook_directory=$(find -name ${{ inputs.filename }} | sed -nE "s/(.*\/).*$/\1/p")" >> "$GITHUB_ENV"
        # now save this so we can use it later
        echo "notebook_directory : $notebook_directory"
        # test: print this value
        # echo The directory is $notebook_directory
    
    # # step 1: use directory to create full file paths
    # - name: get full file paths for nb and requirements
    #   run: |
    #     nb_path = ${{ notebook_directory }}
      
    # - name: configure Python
    #   uses: actions/setup-python@v5
    #   with:
    #     python-version: "3.12"
    #     cache: "pip"
    # - run: pip install nbconvert-a11y 
    # - run: jupyter nbconvert --to=a11y --output-dir=. ${{filename}}

