name: diagnostic workflow
on:
  workflow_dispatch:
  
env:
  CASJOBS_PW: ${{ secrets.CASJOBS_PW }}
  CASJOBS_USERID: ${{ secrets.CASJOBS_USERID }}
  
jobs:
  diagnostic:
    runs-on: ubuntu-latest
    steps:
      - name: diagnosticCommands
        run: |
          echo "IT GOT HERE!"
          echo $CASJOBS_USERID
