name: Manual Notebook Execution
on:
  workflow_dispatch:

jobs:
  ScheduledBuild:
   uses: dulude/notebook-ci-actions/.github/workflows/ci_scheduled.yml@main
   secrets:
      CASJOBS_USERID: ${{ secrets.CASJOBS_USERID }}
      CASJOBS_PW: ${{ secrets.CASJOBS_PW }}
      
