name: Manual Notebook Execution
on:
  workflow_dispatch:
  
# env:
#   CASJOBS_PW: ${{ secrets.CASJOBS_PW }}
#   CASJOBS_USERID: ${{ secrets.CASJOBS_USERID }}
  
jobs:
  diagnostic:
    runs-on: ubuntu-latest
    steps:
      - name: diagnosticCommands
        env:
          CASJOBS_PW: ${{ secrets.CASJOBS_PW }}
          CASJOBS_USERID: ${{ secrets.CASJOBS_USERID }}
        run: |
          echo "IT GOT HERE!"
          echo $CASJOBS_USERID
  
  ScheduledBuild:
   uses: dulude/notebook-ci-actions/.github/workflows/ci_scheduled.yml@main
